# Env
.env
.venv
env/

# Python
*.py[co]
*~
__pycache__

# Django
*.log
local_settings.py
db.sqlite3

# Visual Studio
.vscode/
.history/
*.code-workspace

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/
