
#content {
    overflow: auto;
    min-height: 100vh;
    padding: 0px;
    font-size: medium;
    word-wrap: break-word;
    background-color: #2e1503;
}

h1 {
    color: whitesmoke;
}

#message-form {
    position: fixed;
    bottom: 0;
    margin: 0 10px 0;
    width: 100vw;
}

#message-field {
    width: 75%;
    padding: 8px;
    border-radius: 10px;
}

#message-button {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding: 8px;
    border-radius: 10px;
    border-color: #9a7b4f;
    background-color: #9a7b4f;
}

div.date-header {
    clear: both;
    margin: 5px auto;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 20px;
    font-size: small;
    background-color: rgba(150, 150, 150, 0.8);
}

div.message {
    clear: both;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

div.right {
    float: right;
    background-color: #99af87;
}

div.left {
    float: left;
    background-color: #bbbbbb;
}

.profile-link {
    text-decoration: none;
}

pre {
    display: inline;
    white-space: pre-wrap;
}

span.detail {
    float: right;
    margin-left: 10px;
    font-family: "Courier New", monospace;
}

div.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

div.modal-content {
    margin: 15vh auto;
    width: fit-content;
    padding: 15px 20px 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #9a7b4f;
}

div.modal-content button {
    float: left;
    margin: 5px 2.5%;
    width: 45%;
}

.whitespace {
    float: left;
}

@media screen and (min-width: 1000px) {
    #message-form {
        width: 30%;
    }
}
