
#content {
    overflow: auto;
    min-height: 100vh;
    padding: 0px;
    font-size: medium;
    word-wrap: break-word;
    background-color: #2e1503;
}

h1 {
    color: whitesmoke;
}

#message-form {
    position: fixed;
    bottom: 0;
    margin: 0 10px 0;
    width: 100vw;
}

#message-field {
    width: 75%;
    padding: 8px;
    border-radius: 10px;
}

#message-button {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding: 8px;
    border-radius: 10px;
    border-color: #9a7b4f;
    background-color: #9a7b4f;
}

div.message {
    clear: both;
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

div.right {
    float: right;
    background-color: #99af87;
}

div.left {
    float: left;
    background-color: #bbbbbb;
}

pre {
    display: inline;
    white-space: pre-wrap;
}

div.detail {
    float: right;
    margin-left: 10px;
    font-family: "Courier New", monospace;
}

.whitespace {
    float: left;
}

@media screen and (min-width: 1200px) {
    #message-form {
        width: 30%;
    }
}
