
body {
    margin: 0;
    font-size: large;
    font-family: cursive;
    color: #410200;
    background-color: #e3dac9;
}

#container {
    margin: 0 auto;
    min-height: 100vh;
    background-color: #9a7b4f;
}

#content {
    padding: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: #8a3324;
}

a:hover {
    color: #a52a2a;
}

input {
    padding: 2px 5px;
    border-radius: 10px;
    border-color: #9a7b4f;
    background-color: #e3dac9;
}

button, input[type=button], input[type=submit], input[type=reset] {
    padding: 1px 8px;
    border-radius: 5px;
    border-color: #2e1503;
    cursor: pointer;
    color: white;
    background-color: #2e1503;
}

hr {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #410200;
}

img {
    object-fit: cover;
}

img.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 40%;
}

img.thumbnail {
    margin: 2px 0;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media screen and (min-width: 1000px) {
    #container {
        width: 30%;
    }
}
