{% extends "base.html" %}

{% block title %}login - msgr{% endblock %}

{% block content %}

<h2>Log In</h2>

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please log in to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <br>
    <input type="submit" value="Log in">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<br>
<p><a href="/password_reset">Forgot password?</a></p>
<p><a href="{% url 'signup' %}">Don't have an account?</a></p>

{% endblock %}
