{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
{% endblock %}

{% block title %}password reset - msgr{% endblock %}
{% block h1 %}<h1>Password reset</h1>{% endblock %}

{% block content %}

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-field">
        {{ form.email.errors }}
        {{ form.email.label_tag }}<br>
        {{ form.email }}
    </div>

    <br>
    <input type="submit" value="Reset">
</form>

{% endblock %}
