{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
{% endblock %}

{% block title %}password reset - msgr{% endblock %}
{% block h1 %}<h1>Password reset</h1>{% endblock %}

{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-field">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}
    </div>
    <div class="form-field">
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}
    </div>

    <br>
    <input type="submit" value="Change">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

{% endblock %}
