{% extends 'base.html' %}
{% load static %}
{% load image_url_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
{% endblock %}

{% block title %}profile - msgr{% endblock %}
{% block h1 %}{% endblock %}

{% block content %}

<h1>Profile</h1>

<label for="id_picture">
    <img src="{% get_profile_pic object.picture %}" alt="profile picture" class="profile-pic">
</label>

<form enctype="multipart/form-data" method="post" action="{% url 'profile' %}">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <input type="file" name="picture" accept="image/*" id="id_picture" style="display: none;">
    {% if object.picture %}
    <input type="checkbox" name="picture-clear" id="picture-clear_id">
    <label for="picture-clear_id">
        <i class="fa fa-trash-o" style="font-size: larger;"></i>
    </label>
    {% endif %}

    {% for field in form %}
        {% if field.name != 'picture' %}
        <div class="form-field">
            {{ field.errors }}
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% endif %}
    {% endfor %}

    <br>
    <input type="submit" value="Save">
</form>

{% endblock %}
