{% extends 'base.html' %}
{% load static %}
{% load image_url_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
{% endblock %}

{% block title %}profile - msgr{% endblock %}
{% block h1 %}{% endblock %}

{% block content %}

<h1>Profile</h1>

<img src="{% get_profile_pic object.picture %}" alt="profile picture" class="profile_pic">

<form enctype="multipart/form-data" method="post" action="{% url 'profile' %}">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% for field in form %}
    <div class="form-field">
        {{ field.errors }}
        {{ field.label_tag }}<br>
        {{ field }}
    </div>
    {% endfor %}

    <br>
    <input type="submit" value="Save">
</form>

{% endblock %}
