{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block title %}chat - msgr{% endblock %}

{% block content %}

<h2>Chat room number {{ pk }}</h2>

<ul id="messages-list">
</ul>

<form method="post" action="{{ request.get_full_path }}" id="message-form">
    {% csrf_token %}
    {{ form.content }}
    <input type="submit" value="Send">
</form>

{% endblock %}

{% block javascript %}
<script>
    var full_path = "{{ request.get_full_path }}";
</script>
<script src="{% static 'msgr/get-messages-jquery.js' %}"></script>
<script src="{% static 'msgr/send-message-jquery.js' %}"></script>
{% endblock %}
