{% extends 'base.html' %}
{% load static %}

{% block style %}
<link type="text/css" rel="stylesheet" href="{% static 'msgr/css/chats_list.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'msgr/css/search_form.css' %}"/>
{% endblock %}

{% block title %}chats - msgr{% endblock %}

{% block content %}

<h1>Chats</h1>

{% include 'msgr/search_form.html' %}

{% for join in join_list %}
<div class="chat">
    <div class="chat-title">
        <a href="{% url 'msgr:chat' join.chat.pk %}">{{ join.title }}</a>
    </div>
    {% with unread_count=join.get_unread_count %}
    {% if unread_count %}
    <div class="unread-count">
        {{ unread_count }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="chat-date">
        {{ join.chat.lat|date:"H:i m/d" }}
    </div>
</div>
{% empty %}
<div class="chat">
    You don't have any chats.
</div>
{% endfor %}
<hr/>

{% endblock %}
