{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block title %}chat - msgr{% endblock %}

{% block style %}
<link type="text/css" rel="stylesheet" href="{% static 'msgr/css/chat_page.css' %}"/>
{% endblock %}

{% block content %}

<h2 class="text">Chat room number {{ pk }}</h2>

<div id="messages-list">
</div>

<form method="post" action="{{ request.get_full_path }}" id="message-form">
    {% csrf_token %}
    {{ form.content }}
    <input type="submit" value="Send" id="message-button">
</form>

<pre class="whitespace">





</pre>

{% endblock content %}

{% block javascript %}
<script>
    var full_path = "{{ request.get_full_path }}";
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'msgr/js/get-updates-jquery.js' %}"></script>
<script src="{% static 'msgr/js/send-message-jquery.js' %}"></script>
{% endblock %}
