{% load message_content_filters %}

{% for m in message_list %}
{% if m.sender == user %}
<div onclick="open_modal('{{ m.pk }}')" id="m-{{ m.pk }}" class="message right">
{% else %}
<div id="m-{{ m.pk }}" class="message left">
    <a href="{% url 'msgr:profile' m.sender.profile.pk %}" class="profile-link">
        <b>{{ m.sender.profile.get_short_name }}:</b>
    </a>
{% endif %}
    <pre>{{ m.content|inline_id }}</pre>
    <span hidden class="message-date">{{ m.send_time|date:"F d" }}</span>
    <span class="detail">
        <sub class="message-time">{{ m.send_time|time:"H:i" }}</sub>
        {% if m.sender == user %}
            <sub id="tick-{{ m.pk }}">
            {% if m.is_seen %}
                ✓✓
            {% else %}
                ✓
            {% endif %}
            </sub>
        {% endif %}
    </span>
</div>
{% endfor %}
