{% for m in message_list %}
{% if m.sender == user %}
<div class="message right">
{% else %}
<div class="message left">
    <b>{{ m.sender.profile.get_short_name }}</b>:
{% endif %}
    <pre>{{ m.content }}</pre>
    <div class="detail">
        <sub>{{ m.send_time|time:"H:i" }}</sub>
        {% if m.sender == user %}
            <sub id="tick-{{ m.pk }}">
            {% if m.is_seen %}
                ✓✓
            {% else %}
                ✓
            {% endif %}
            </sub>
        {% endif %}
    </div>
</div>
{% endfor %}
