{% extends 'base.html' %}
{% load static %}
{% load image_url_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'msgr/css/search_form.css' %}">
{% endblock %}

{% block title %}search - msgr{% endblock %}
{% block h1 %}<h1>Search for users</h1>{% endblock %}

{% block content %}

{% include 'msgr/search_form.html' %}

<ul>
{% for user in profile_list %}
    <li>
        <img src="{% get_profile_pic user.picture True %}" alt="profile thumbnail" class="thumbnail">
        <a href="{% url 'msgr:profile' user.pk %}">{{ user.get_full_name }}</a>
    </li>
{% endfor %}
</ul>
<hr>

{% endblock %}
