{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'msgr/css/search_form.css' %}">
{% endblock %}

{% block title %}search - msgr{% endblock %}

{% block content %}

<h1>Search for users</h1>

{% include 'msgr/search_form.html' %}

<ul>
{% for user in profile_list %}
    <li>
        <a href="{% url 'msgr:profile' user.pk %}">{{ user.get_full_name }}</a>
    </li>
{% endfor %}
</ul>

<br>
Go back to
<a href="{% url 'msgr:main' %}">chats page</a>

{% endblock %}
