<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
    <title>{% block title %}msgr{% endblock %}</title>
</head>

<body>
    <div id="container">
        <div id="content">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block javascript %}
    {% endblock %}
</body>
</html>
