<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block style %}
    {% endblock %}
    <title>{% block title %}msgr{% endblock %}</title>
</head>

<body>
    <div id="container">
        {% block header %}
        <header>
            <div id="header">
                {% block h1 %}<h1>msgr</h1>{% endblock %}
                {% include 'header.html' %}
            </div>
        </header>
        {% endblock %}
        <main>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% block footer %}
        {% endblock %}
    </div>
    <script src="{% static 'js/header-menu.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
